body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adiciona padding em todas as telas */
}

.imgperfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
}

.imgperfil img {
    max-width: 100%; /* Responsivo */
    height: auto; /* Mantém a proporção */
    object-fit: cover;
}

.sobre h1 {
    color: #fff;
    font-size: larger;
}

.sobre h2 {
    color: #fff;
    font-size: small;
}

.buttons {
    display: flex;
    flex-direction: column; /* Empilha os botões */
    margin-bottom: 20px;
}

.button {
    display: block;
    background-color: #fff;
    color: #8a2be2;
    padding: 15px 25px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .imgperfil {
        width: 80px;
        height: 80px;
    }

    .sobre h1 {
        font-size: 24px; /* Ajusta o tamanho da fonte do título */
    }

    .sobre h2 {
        font-size: 14px; /* Ajusta o tamanho da fonte da descrição */
    }

    .button {
        padding: 10px 15px; /* Ajusta o tamanho dos botões */
    }

    .buttons {
        flex-direction: column; /* Botões empilhados em coluna */
    }
}
