body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a0dad, #8a2be2);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
}

.imgperfil {
    display: flex;
    align-items: center;
    justify-content: center; /* Adicionado para garantir centralização */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden; /* Garante que a imagem não exceda o contêiner redondo */
    border:1px solid #fff;
}

.imgperfil img {
    width: 100%; /* Ajuste para o tamanho desejado */
    height: 100%; /* Ajuste para o tamanho desejado */
}
.sobre h1{
    color: #fff;
    font-size:larger;
}
.sobre h2{
    color: #fff;
    font-size: small;
}
.buttons {
    margin-bottom: 20px;
}

.button {
    display: block;
    background-color: #fff;
    color: #8a2be2;
    padding: 15px 25px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px; /* Ajuste para o tamanho desejado */
    height: 40px; /* Ajuste para o tamanho desejado */
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}
