body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a0dad, #8a2be2);
}

.container {
    text-align: center;
}

.buttons {
    margin-bottom: 20px;
}

.button {
    display: block;
    background-color: #fff;
    color: #8a2be2;
    padding: 15px 25px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px; /* Ajuste para o tamanho desejado */
    height: 40px; /* Ajuste para o tamanho desejado */
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

